
/* ----NOTES---- */
/*selecter in pink*/
/* .classes and #IDs in green */
/*font names with more than one word need to be surrounded by quotes*/
/* use em to resize relative to the size of the font*/


/*----COLOUR PALETTE----*/
/* LIGHTER BORDER GREEN #72c4a4;
TEXT COLOUR DARK GREEN
LIMEY YELLOW INFO #eaff96; 

*/



/*contentMajority*/


@font-face {
    font-family: 'goFrog';
    src:url(fonts/goFrog.ttf);  
}
@font-face {

    font-family: 'amphibia';
    src:url(fonts/amphibia.ttf);
  }




body {
    font-family: "Andale Mono", monospace;
    background-color: #a5face;
    color: darkgreen;
    margin-top: 40pt;
    border-style: solid;
    border-width: 6px;
    border-color: #72c4a4;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

#important {
    font-family: "amphibia";
    font-size: 60pt;
    color:black;

}

.content {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

/*---TODO work on colour of hyperlinks*/
a {
    text-decoration: none;
    color: darkpink;
}


.frogTable{
    text-align: center;
    max-width: 1000;


}
/*hTags*/

h1 {
    /* position: relative; */
    text-align: center;
    color: deeppink;
    font-family:"goFrog";
}

h2 {
    font-family: "Andale Mono", monospace;
    font-size: 1.5em;
    position: relative;
    color: #ff8317
    
}

h3 {
    font-family: "Andale Mono", monospace;
    font-size: 1.2em;
    position: relative;
    color: #ff9717;
}



h6 {
    position: relative;
    text-align: center;
    color: deeppink;
}

#hello {
    font-family:"goFrog";
    font-size: 1.5em;
    color: #cb81f0;

}


/*menuBar*/


.menu {
    display: inline-block;
}

.center {
    text-align: center;
}


#menuList {
    overflow: hidden;
    list-style-type: none;
    background-color: aliceblue;
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
}



li a {
    list-style-type: none;
    float: left;
    /*this makes things next to each other*/
    border-left: solid;
    border-color: white;
    display: block;
    color: darkcyan;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #529c6b;
    color: deeppink;
}

.menuList.active {
    background-color: black;
    color: crimson;
}


/*sort this bit out*/

.expandContainer{
    background-color: aliceblue;
    color: #9E65BA;
    border-style:outset;
    border-color: #cb81f0;
    border-width: 4px;
    border-radius: 6px;
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}



/*dunno why this doesn't work on the dropdown*/
label {
    align-content:center;
    font-family: "Andale Mono", monospace;
    color: #529c6b;
}


.source {
    text-decoration: none;
    text-align: right;
    font-size: 0.8em;
}


#standOut {
    font-size: 20pt;
    font-family: "Brush Script MT", cursive;
    color: #cb81f0;
    font-weight: bold;
    text-align: center;
}


/*-------page2 GALLERY PAGE-------*/


.flexContainer {
    justify-content: space-around;
    align-content: space-around;
    background-color: orange;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:5%;
    margin-right:5%;
    padding:10px;


}

.image {
    padding:2px;
}

/*-------page3 INFO PAGE-------*/

.infoContainer {
    overflow: auto;
    background-color: #eaff96;
    border-style: solid;
    border-color: #eaff96;
    border-radius: 6px;
    color:darkgreen;
    padding: 20px;
    padding-top: 5px;
} 

/* .textRight {

}

.textLeft {
    
} */

.imageRight {
    float: right;
    /* padding: 10px; */
    margin-left: 20px;
    margin-bottom: 20px;
    border-style:outset;
    border-color: #ff9717;
    border-radius:6px;
}

.imageLeft {
    float: left;
    /* padding: 10px; */
    margin-right: 20px;
    margin-bottom: 20px;
    border-style:outset;
    border-color: #ff9717;
    border-radius:6px;
}

